# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Maya
*.mb.swatches
*.ma.swatches
Mayaswatches/
*.tmp
*.log
workspace.mel
*.exr

# Exports
data/exports/*.json
!data/exports/.gitkeep

# UVRun
.uv/
uv.lock

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

#scripts
syncGit.ps1